.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  font-family:"Neuzeit Grotesk","neuzeit-grotesk","Helvetica Neue",sans-serif;
  background-color: #252629;
  margin: 5%;
}

.header {
	font-family: "Neuzeit Grotesk","neuzeit-grotesk","Helvetica Neue",sans-serif;
	font-size: 40px;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
}

.subheader {
	font-family: "Neuzeit Grotesk","neuzeit-grotesk","Helvetica Neue",sans-serif;
	font-size: 20px;
	font-style: italic;
	color: #0496bd;
	padding: 0px 0px 20px 15px;
}

.parent {
	display: flex;
	margin: flex;
	justify-content: center;
	align-items: center;
}
.summary {
	display: inline-block;
	background-color: #252629;
	padding: 2px;
	font-family: "Helvetica";
	font-size: 30px;
	color: #000000;
	position: relative;
  	box-shadow: 1px 1px 1px 1px #0496bd;
  	flex: 1;
}

